/* general styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* header styles */

.header{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    font-weight: 600;
}

    .header__nav{
    padding-right: 2rem;
    height: inherit;
}

.header__nav-list{
    height: inherit;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
    justify-content: right;
    align-items: center;
}

    .header__nav-list a{
        text-decoration: none;
        color: #000;
    }

main{
    padding: 0 12.5%;
}

section{
    min-height: 100vh;
}

/* intro styles */

.intro{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
}

.intro__title{
    font-size: clamp(2.25rem, 8vw, 4.5rem);
    padding-bottom: 1.5rem;
}

.intro__title-greeting{
    font-size: 1.5rem;
}

/* about styles */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.about__content{
    width: 65%;
}

.about__image{
    width: 35%;
    text-align: right;
}

.about__image img{
    width: 18.5rem;
    height: 18.5rem;
    object-fit: cover;
}

.about__title{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.about__text{
    padding-bottom: 1.5rem;
}

.about__list{
    list-style-type: none;
    column-count: 2;
}

.about__list li{
    padding-bottom: 1rem;
}

.about__list li::before{
    content: "•";
    padding-right: 1rem;
}

/* projects styles */

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects a{
    text-decoration: none;
    color: #000;
}

.projects__title{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.projects__item{
    padding-bottom: 1.5rem;
}

.projects__item-title{
    padding-bottom: 0.8rem;
}

.projects__item-description{
    padding-bottom: 0.8rem;
}

.projects__item-skills{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.2rem;
    font-size: 0.75rem;
    font-weight: 600;
}

.projects__item-skills li{
    padding: 0.35rem 0.8rem;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

/* footer styles */

.footer{
    text-align: center;
    padding-bottom: 2rem;
}