:root{
    --white: #F6F1F1;
    --blured-white: #f6f1f1b5;
    --blue: #19A7CE;
    --darker-blue: #146C94;
}


/* general styles */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--white);
}

/* header styles */

.header{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    font-weight: 600;
    transition: all 0.25s ease;
    transform: translateY(0);
    background-color: var(--blured-white);
    box-shadow: 0 10px 30px -10px var(--blured-white);
    backdrop-filter: blur(10px);
    color: var(--blue);
}

.header--hidden{
    transform: translateY(-100%);
}

    .header__nav{
    padding-right: 2rem;
    height: inherit;
}

.header__nav-list{
    height: inherit;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 2rem;
    justify-content: right;
    align-items: center;
}

    .header__nav-list a{
        color: var(--blue);
        text-decoration: none;
    }

main{
    padding: 0 12.5%;
}

section{
    min-height: 100vh;
}

/* intro styles */

.intro{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
}

.intro__title{
    font-size: clamp(2.25rem, 8vw, 4.5rem);
    padding-bottom: 1.5rem;
    color: var(--blue);
}

.intro__title-greeting{
    font-size: 1.5rem;
}

.intro__text{
    color: black;
}

/* about styles */

.about{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__wrapper{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.about__content{
    width: 65%;
}

.about__image{
    width: 35%;
    text-align: right;
}

.about__image img{
    width: 18.5rem;
    height: 18.5rem;
    object-fit: cover;
}

.about__title{
    color: var(--blue);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.about__text{
    padding-bottom: 1.5rem;
}

.about__list{
    list-style-type: none;
    column-count: 2;
}

.about__list li{
    padding-bottom: 1rem;
}

.about__list li::before{
    content: "•";
    padding-right: 1rem;
}

/* projects styles */

.projects{
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects a{
    text-decoration: none;
    color: #000;
}

.projects__title{
    color: var(--blue);
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.projects__item{
    padding-bottom: 1.5rem;
}

.projects__item-title{
    color: var(--darker-blue);
    padding-bottom: 0.8rem;
}

.projects__item i{
    color: var(--darker-blue)
}

.projects__item-description{
    padding-bottom: 0.8rem;
}

.projects__item-skills{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.2rem;
    font-size: 0.75rem;
    font-weight: 600;
}

.projects__item-skills li{
    padding: 0.35rem 0.8rem;
    border: 1px solid var(--darker-blue);
    color: var(--white);
    background-color: var(--darker-blue);
    border-radius: 0.5rem;
}

/* contact styles */

.contact{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact__wrapper{
    width: 50%;
    text-align: center;
}

.contact__title{
    color: var(--blue);
    font-size: clamp(1.85rem, 5vw, 3.25rem);
    padding-bottom: 1.5rem;
}

.contact__text{
    padding-bottom: 3.75rem;
}

.contact__button{
    padding: 1rem 1.45rem;
    border: 1px solid var(--darker-blue);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    text-decoration: none;
    background-color: var(--white);
    color: var(--darker-blue);
    transition: .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.contact__button:hover{
    background-color: var(--darker-blue);
    color: var(--white);
}

/* footer styles */

.footer{
    text-align: center;
    padding-bottom: 2rem;
    position: absolute;
    bottom: 0px;
}